[tool.poetry]
name = "wxdat"
version = "1.0.2"
description = "Weather data explorer."
authors = ["jheddings <jheddings@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.2"
click = "^8.1.3"
prometheus-client = "^0.16.0"
pydantic = "^1.10.5"
sqlalchemy = "^2.0.4"
psycopg2 = "^2.9.5"
ratelimit = "^2.2.1"
pyyaml = "^6.0"
gitpython = "^3.1.31"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.1.1"
pytest = "^7.2.2"
pytest-vcr = "^1.0.2"
coverage = "^7.2.1"

[tool.poetry.scripts]
wxdat = "wxdat.__main__:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
