[tool.poetry]
name = "wxdat"
version = "1.4.1"
description = "Weather data explorer."
authors = ["jheddings <jheddings@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.31.0"
click = "^8.1.7"
prometheus-client = "^0.19.0"
pydantic = "^2.5.2"
sqlalchemy = "^2.0.23"
psycopg2 = "^2.9.9"
ratelimit = "^2.2.1"
pyyaml = "^6.0.1"
gitpython = "^3.1.40"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.5.0"
pytest = "^7.4.3"
pytest-vcr = "^1.0.2"
coverage = "^7.3.2"
ruff = "^0.1.6"

[tool.poetry.scripts]
wxdat = "wxdat.__main__:main"

[tool.ruff]
line-length = 88
indent-width = 4

[tool.ruff.lint]
select = [
    "I",   # isort
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings
    "F",   # pyflakes
    "C",   # flake8-comprehensions
    "B",   # flake8-bugbear
    "ERA", # eradicate
    "UP",  # pyupgrade
]
ignore = [
    "E501", # line-too-long
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.isort]
known-first-party = ["wxdat"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
