[tool.poetry]
name = "wxdat"
version = "1.0.0"
description = "Weather data explorer."
authors = ["jheddings <jheddings@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.1"
click = "^8.1.3"
prometheus-client = "^0.15.0"
pydantic = "^1.10.4"
sqlalchemy = "^1.4.46"
psycopg2 = "^2.9.5"
ratelimit = "^2.2.1"
pyyaml = "^6.0"

[tool.poetry.group.dev.dependencies]
black = "^22.12.0"
isort = "^5.11.4"
flake8 = "^6.0.0"
pre-commit = "^2.21.0"
git-python = "^1.0.3"
pytest = "^7.2.0"
pytest-vcr = "^1.0.2"
coverage = "^7.0.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
