interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations//XXXX/observations/latest
  response:
    body:
      string: "{\n    \"correlationId\": \"69d3db4\",\n    \"title\": \"Not Found\"\
        ,\n    \"type\": \"https://api.weather.gov/problems/NotFound\",\n    \"status\"\
        : 404,\n    \"detail\": \"Not Found\",\n    \"instance\": \"https://api.weather.gov/requests/69d3db4\"\
        \n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 69d3db4
      X-Edge-Request-ID:
      - 2fee0900
      X-Server-ID:
      - vm-bldr-nids-apiapp3.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
