interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations//XXXX/observations/latest
  response:
    body:
      string: "{\n    \"correlationId\": \"2793119b\",\n    \"title\": \"Not Found\",\n
        \   \"type\": \"https://api.weather.gov/problems/NotFound\",\n    \"status\":
        404,\n    \"detail\": \"Not Found\",\n    \"instance\": \"https://api.weather.gov/requests/2793119b\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 2793119b
      X-Edge-Request-ID:
      - b9062d4
      X-Server-ID:
      - vm-lnx-nids-apiapp11.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
