interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.com/v2/pws/observations/current?format=json&numericPrecision=decimal&stationId=KCODENVE549&units=e
  response:
    body:
      string: '{"observations":[{"stationID":"KCODENVE549","obsTimeUtc":"2024-09-22T21:12:27Z","obsTimeLocal":"2024-09-22
        15:12:27","neighborhood":"Congress Park","softwareType":"myAcuRite","country":"US","solarRadiation":null,"lon":-104.952347,"realtimeFrequency":null,"epoch":1727039547,"lat":39.737583,"uv":null,"winddir":90,"humidity":56.0,"qcStatus":1,"imperial":{"temp":64.2,"heatIndex":64.2,"dewpt":48.2,"windChill":64.2,"windSpeed":0.0,"windGust":0.0,"pressure":30.20,"precipRate":0.00,"precipTotal":0.59,"elev":5358.0}}]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - ESI/1.0
      X-Region:
      - us-east-1
      X-Trace-Token:
      - f8da89eb-86fb-42c1-9a89-eb86fb22c1f6
      trace-name:
      - v2includerouter-include-get
    status:
      code: 200
      message: OK
version: 1
