interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rt.ambientweather.net/v1/devices/98:CD:AC:22:F4:07?limit=1
  response:
    body:
      string: '[{"dateutc":1736359800000,"tempinf":70.2,"humidityin":34,"baromrelin":30.366,"baromabsin":25.016,"tempf":30.6,"humidity":56,"winddir":157,"winddir_avg10m":185,"windspeedmph":2.2,"windspdmph_avg10m":3.6,"windgustmph":10.3,"maxdailygust":15.2,"hourlyrainin":0,"eventrainin":0,"dailyrainin":0,"weeklyrainin":0.008,"monthlyrainin":0.028,"yearlyrainin":0.028,"solarradiation":256.59,"uv":2,"feelsLike":30.6,"dewPoint":16.79,"feelsLikein":68.5,"dewPointin":40.5,"lastRain":"2025-01-07T19:46:00.000Z","date":"2025-01-08T18:10:00.000Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"211-cSFk7HGGBNLNjIheQA/SjQ"
    status:
      code: 200
      message: OK
version: 1
