interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?lat=39.73465&lon=-104.98672&units=imperial
  response:
    body:
      string: '{"coord":{"lon":-104.9867,"lat":39.7347},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":60.75,"feels_like":59.14,"temp_min":58.19,"temp_max":63.54,"pressure":1018,"humidity":56,"sea_level":1018,"grnd_level":837},"visibility":10000,"wind":{"speed":3,"deg":0,"gust":5.99},"clouds":{"all":100},"dt":1727039559,"sys":{"type":2,"id":2002746,"country":"US","sunrise":1727009283,"sunset":1727053015},"timezone":-21600,"id":5419384,"name":"Denver","cod":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
