interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?lat=39.73465&lon=-104.98672&units=imperial
  response:
    body:
      string: '{"coord":{"lon":-104.9867,"lat":39.7347},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":49.3,"feels_like":49.3,"temp_min":42.28,"temp_max":55.81,"pressure":1013,"humidity":36},"visibility":10000,"wind":{"speed":1.01,"deg":246},"clouds":{"all":7},"dt":1700704199,"sys":{"type":2,"id":2004334,"country":"US","sunrise":1700661141,"sunset":1700696406},"timezone":-25200,"id":5419384,"name":"Denver","cod":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
