interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations//XXXX/observations/latest
  response:
    body:
      string: "{\n    \"correlationId\": \"86cc6b7\",\n    \"title\": \"Not Found\",\n
        \   \"type\": \"https://api.weather.gov/problems/NotFound\",\n    \"status\":
        404,\n    \"detail\": \"Not Found\",\n    \"instance\": \"https://api.weather.gov/requests/86cc6b7\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 86cc6b7
      X-Edge-Request-ID:
      - 1c0309d3
      X-Server-ID:
      - vm-lnx-nids-apiapp4.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
