interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://dataservice.accuweather.com/currentconditions/v1/2207713?details=True&language=en-US
  response:
    body:
      string: '[{"LocalObservationDateTime":"2025-01-08T11:07:00-07:00","EpochTime":1736359620,"WeatherText":"Mostly
        cloudy","WeatherIcon":6,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":0.8,"Unit":"C","UnitType":17},"Imperial":{"Value":33.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":2.7,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"Value":37.0,"Unit":"F","UnitType":18,"Phrase":"Cold"}},"RealFeelTemperatureShade":{"Metric":{"Value":-0.1,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"Value":32.0,"Unit":"F","UnitType":18,"Phrase":"Cold"}},"RelativeHumidity":49,"IndoorRelativeHumidity":28,"DewPoint":{"Metric":{"Value":-8.8,"Unit":"C","UnitType":17},"Imperial":{"Value":16.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":180,"Localized":"S","English":"S"},"Speed":{"Metric":{"Value":7.8,"Unit":"km/h","UnitType":7},"Imperial":{"Value":4.9,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":13.6,"Unit":"km/h","UnitType":7},"Imperial":{"Value":8.4,"Unit":"mi/h","UnitType":9}}},"UVIndex":2,"UVIndexText":"Low","Visibility":{"Metric":{"Value":4.8,"Unit":"km","UnitType":6},"Imperial":{"Value":3.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"","CloudCover":76,"Ceiling":{"Metric":{"Value":6096.0,"Unit":"m","UnitType":5},"Imperial":{"Value":20000.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":1022.7,"Unit":"mb","UnitType":14},"Imperial":{"Value":30.2,"Unit":"inHg","UnitType":12}},"PressureTendency":{"LocalizedText":"Falling","Code":"F"},"Past24HourTemperatureDeparture":{"Metric":{"Value":5.2,"Unit":"C","UnitType":17},"Imperial":{"Value":9.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":0.6,"Unit":"C","UnitType":17},"Imperial":{"Value":33.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":-2.3,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Metric":{"Value":0.8,"Unit":"C","UnitType":17},"Imperial":{"Value":33.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{"Minimum":{"Metric":{"Value":-14.1,"Unit":"C","UnitType":17},"Imperial":{"Value":7.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":0.8,"Unit":"C","UnitType":17},"Imperial":{"Value":33.0,"Unit":"F","UnitType":18}}},"Past12HourRange":{"Minimum":{"Metric":{"Value":-15.5,"Unit":"C","UnitType":17},"Imperial":{"Value":4.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":0.8,"Unit":"C","UnitType":17},"Imperial":{"Value":33.0,"Unit":"F","UnitType":18}}},"Past24HourRange":{"Minimum":{"Metric":{"Value":-15.5,"Unit":"C","UnitType":17},"Imperial":{"Value":4.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":0.8,"Unit":"C","UnitType":17},"Imperial":{"Value":33.0,"Unit":"F","UnitType":18}}}},"MobileLink":"http://www.accuweather.com/en/us/todd-creek-co/80602/current-weather/2207713?lang=en-us","Link":"http://www.accuweather.com/en/us/todd-creek-co/80602/current-weather/2207713?lang=en-us"}]'
    headers:
      Akamai-GRN:
      - 0.984e4e68.1736360010.11261d03
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '50'
      RateLimit-Remaining:
      - '20'
    status:
      code: 200
      message: OK
version: 1
