interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations//XXXX/observations/latest
  response:
    body:
      string: "{\n    \"correlationId\": \"9f358c5\",\n    \"title\": \"Not Found\",\n
        \   \"type\": \"https://api.weather.gov/problems/NotFound\",\n    \"status\":
        404,\n    \"detail\": \"Not Found\",\n    \"instance\": \"https://api.weather.gov/requests/9f358c5\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 9f358c5
      X-Edge-Request-ID:
      - bc901550
      X-Server-ID:
      - vm-bldr-nids-apiapp12.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
