interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rt.ambientweather.net/v1/devices/98:CD:AC:22:F4:07?limit=1
  response:
    body:
      string: '[{"dateutc":1700704500000,"tempinf":76.1,"humidityin":26,"baromrelin":30.186,"baromabsin":24.835,"tempf":48.7,"humidity":29,"winddir":74,"winddir_avg10m":65,"windspeedmph":0,"windspdmph_avg10m":1.3,"windgustmph":2.5,"maxdailygust":12.8,"hourlyrainin":0,"eventrainin":0,"dailyrainin":0,"weeklyrainin":0.012,"monthlyrainin":0.016,"yearlyrainin":18.516,"solarradiation":0,"uv":0,"feelsLike":48.7,"dewPoint":17.89,"feelsLikein":74.6,"dewPointin":38.7,"lastRain":"2023-11-20T17:07:00.000Z","date":"2023-11-23T01:55:00.000Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"208-AfpzQrhgrrJmoBLYtupr6A"
    status:
      code: 200
      message: OK
version: 1
