interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://dataservice.accuweather.com/currentconditions/v1/2207713?details=True&language=en-US
  response:
    body:
      string: '[{"LocalObservationDateTime":"2023-11-22T21:23:00-07:00","EpochTime":1700713380,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":1.0,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":1.8,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"Value":35.0,"Unit":"F","UnitType":18,"Phrase":"Cold"}},"RealFeelTemperatureShade":{"Metric":{"Value":1.8,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"Value":35.0,"Unit":"F","UnitType":18,"Phrase":"Cold"}},"RelativeHumidity":45,"IndoorRelativeHumidity":27,"DewPoint":{"Metric":{"Value":-9.6,"Unit":"C","UnitType":17},"Imperial":{"Value":15.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":158,"Localized":"SSE","English":"SSE"},"Speed":{"Metric":{"Value":4.4,"Unit":"km/h","UnitType":7},"Imperial":{"Value":2.8,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":6.2,"Unit":"km/h","UnitType":7},"Imperial":{"Value":3.8,"Unit":"mi/h","UnitType":9}}},"UVIndex":0,"UVIndexText":"Low","Visibility":{"Metric":{"Value":6.4,"Unit":"km","UnitType":6},"Imperial":{"Value":4.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"","CloudCover":2,"Ceiling":{"Metric":{"Value":12192.0,"Unit":"m","UnitType":5},"Imperial":{"Value":40000.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":1015.9,"Unit":"mb","UnitType":14},"Imperial":{"Value":30.0,"Unit":"inHg","UnitType":12}},"PressureTendency":{"LocalizedText":"Steady","Code":"S"},"Past24HourTemperatureDeparture":{"Metric":{"Value":0.7,"Unit":"C","UnitType":17},"Imperial":{"Value":1.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":1.1,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":0.0,"Unit":"C","UnitType":17},"Imperial":{"Value":32.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":-2.4,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{"Minimum":{"Metric":{"Value":1.0,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":17.2,"Unit":"C","UnitType":17},"Imperial":{"Value":63.0,"Unit":"F","UnitType":18}}},"Past12HourRange":{"Minimum":{"Metric":{"Value":1.0,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":18.4,"Unit":"C","UnitType":17},"Imperial":{"Value":65.0,"Unit":"F","UnitType":18}}},"Past24HourRange":{"Minimum":{"Metric":{"Value":-1.0,"Unit":"C","UnitType":17},"Imperial":{"Value":30.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":18.4,"Unit":"C","UnitType":17},"Imperial":{"Value":65.0,"Unit":"F","UnitType":18}}}},"MobileLink":"http://www.accuweather.com/en/us/todd-creek-co/80602/current-weather/2207713?lang=en-us","Link":"http://www.accuweather.com/en/us/todd-creek-co/80602/current-weather/2207713?lang=en-us"}]'
    headers:
      Akamai-GRN:
      - 0.57853417.1700713731.207b8caa
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '50'
      RateLimit-Remaining:
      - '47'
    status:
      code: 200
      message: OK
version: 1
