interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations//KDEN/observations/latest
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/stations/KDEN/observations/2023-11-21T18:53:00+00:00\",\n
        \   \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n
        \       \"coordinates\": [\n            -104.67,\n            39.859999999999999\n
        \       ]\n    },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/stations/KDEN/observations/2023-11-21T18:53:00+00:00\",\n
        \       \"@type\": \"wx:ObservationStation\",\n        \"elevation\": {\n
        \           \"unitCode\": \"wmoUnit:m\",\n            \"value\": 1656\n        },\n
        \       \"station\": \"https://api.weather.gov/stations/KDEN\",\n        \"timestamp\":
        \"2023-11-21T18:53:00+00:00\",\n        \"rawMessage\": \"KDEN 211853Z 32006KT
        10SM FEW220 11/M08 A3043 RMK AO2 SLP291 T01111083\",\n        \"textDescription\":
        \"Mostly Clear\",\n        \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \       \"presentWeather\": [],\n        \"temperature\": {\n            \"unitCode\":
        \"wmoUnit:degC\",\n            \"value\": 11.1,\n            \"qualityControl\":
        \"V\"\n        },\n        \"dewpoint\": {\n            \"unitCode\": \"wmoUnit:degC\",\n
        \           \"value\": -8.3000000000000007,\n            \"qualityControl\":
        \"V\"\n        },\n        \"windDirection\": {\n            \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n            \"value\": 320,\n            \"qualityControl\":
        \"V\"\n        },\n        \"windSpeed\": {\n            \"unitCode\": \"wmoUnit:km_h-1\",\n
        \           \"value\": 11.16,\n            \"qualityControl\": \"V\"\n        },\n
        \       \"windGust\": {\n            \"unitCode\": \"wmoUnit:km_h-1\",\n            \"value\":
        null,\n            \"qualityControl\": \"Z\"\n        },\n        \"barometricPressure\":
        {\n            \"unitCode\": \"wmoUnit:Pa\",\n            \"value\": 103050,\n
        \           \"qualityControl\": \"V\"\n        },\n        \"seaLevelPressure\":
        {\n            \"unitCode\": \"wmoUnit:Pa\",\n            \"value\": 102910,\n
        \           \"qualityControl\": \"V\"\n        },\n        \"visibility\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 16090,\n
        \           \"qualityControl\": \"C\"\n        },\n        \"maxTemperatureLast24Hours\":
        {\n            \"unitCode\": \"wmoUnit:degC\",\n            \"value\": null\n
        \       },\n        \"minTemperatureLast24Hours\": {\n            \"unitCode\":
        \"wmoUnit:degC\",\n            \"value\": null\n        },\n        \"precipitationLastHour\":
        {\n            \"unitCode\": \"wmoUnit:mm\",\n            \"value\": null,\n
        \           \"qualityControl\": \"Z\"\n        },\n        \"precipitationLast3Hours\":
        {\n            \"unitCode\": \"wmoUnit:mm\",\n            \"value\": null,\n
        \           \"qualityControl\": \"Z\"\n        },\n        \"precipitationLast6Hours\":
        {\n            \"unitCode\": \"wmoUnit:mm\",\n            \"value\": null,\n
        \           \"qualityControl\": \"Z\"\n        },\n        \"relativeHumidity\":
        {\n            \"unitCode\": \"wmoUnit:percent\",\n            \"value\":
        24.833129339153999,\n            \"qualityControl\": \"V\"\n        },\n        \"windChill\":
        {\n            \"unitCode\": \"wmoUnit:degC\",\n            \"value\": null,\n
        \           \"qualityControl\": \"V\"\n        },\n        \"heatIndex\":
        {\n            \"unitCode\": \"wmoUnit:degC\",\n            \"value\": null,\n
        \           \"qualityControl\": \"V\"\n        },\n        \"cloudLayers\":
        [\n            {\n                \"base\": {\n                    \"unitCode\":
        \"wmoUnit:m\",\n                    \"value\": 6710\n                },\n
        \               \"amount\": \"FEW\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Tue, 21 Nov 2023 18:53:00 GMT
      X-Correlation-ID:
      - 8c123b6
      X-Edge-Request-ID:
      - bc903474
      X-Server-ID:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
    status:
      code: 200
      message: OK
version: 1
