interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.com/v2/pws/observations/current?apiKey=bvcxz&stationId=KCODENVE549&format=json&numericPrecision=decimal&units=e
  response:
    body:
      string: '{"metadata":{"transaction_id":"##############"},"success":false,"errors":[{"error":{"code":"CDN-0001","message":"Invalid
        apiKey."}}]}'
    headers:
      Content-Type:
      - text/html
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: http://dataservice.accuweather.com/currentconditions/v1/2626674?apikey=12345&details=True&language=en-US
  response:
    body:
      string: '{"Code":"Unauthorized","Message":"Api Authorization failed","Reference":"/currentconditions/v1/2626674?apikey=12345&details=True&language=en-US"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://rt.ambientweather.net/v1/devices/eb:8d:60:8a:33:e7?apiKey=456pqd&applicationKey=xyz123&limit=1
  response:
    body:
      string: '{"error":"applicationKey-invalid"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"22-vHMvCrpjdAeQKnCuNYODXQ"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/xyz123/39.73465,-104.98672
  response:
    body:
      string: '{"code":403,"error":"permission denied"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 0.364ms
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?lat=39.73465&lon=-104.98672&appid=qwerty&units=imperial
  response:
    body:
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.com/v2/pws/observations/current?apiKey=bvcxz&stationId=KCODENVE549&format=json&numericPrecision=decimal&units=e
  response:
    body:
      string: '{"metadata":{"transaction_id":"##############"},"success":false,"errors":[{"error":{"code":"CDN-0001","message":"Invalid
        apiKey."}}]}'
    headers:
      Content-Type:
      - text/html
    status:
      code: 401
      message: Unauthorized
version: 1
