interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.com/v2/pws/observations/current?format=json&numericPrecision=decimal&stationId=KCODENVE549&units=e
  response:
    body:
      string: '{"observations":[{"stationID":"KCODENVE549","obsTimeUtc":"2025-01-08T18:13:24Z","obsTimeLocal":"2025-01-08
        11:13:24","neighborhood":"Congress Park","softwareType":"myAcuRite","country":"US","solarRadiation":null,"lon":-104.952347,"realtimeFrequency":null,"epoch":1736360004,"lat":39.737583,"uv":null,"winddir":180,"humidity":48.0,"qcStatus":1,"imperial":{"temp":34.5,"heatIndex":34.5,"dewpt":16.9,"windChill":34.5,"windSpeed":0.0,"windGust":0.0,"pressure":30.23,"precipRate":0.00,"precipTotal":0.00,"elev":5358.0}}]}

        '
    headers:
      Akamai-GRN:
      - 0.f4592117.1736360019.a25b483
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - ESI/1.0
      X-Region:
      - us-east-1
      X-Trace-Token:
      - 8a9022b2-9edf-4e1a-9022-b29edfde1a16
      trace-name:
      - v2includerouter-include-get
    status:
      code: 200
      message: OK
version: 1
