interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.com/v2/pws/observations/current?format=json&numericPrecision=decimal&stationId=KCODENVE549&units=e
  response:
    body:
      string: '{"observations":[{"stationID":"KCODENVE549","obsTimeUtc":"2023-11-23T01:57:10Z","obsTimeLocal":"2023-11-22
        18:57:10","neighborhood":"Congress Park","softwareType":"myAcuRite","country":"US","solarRadiation":null,"lon":-104.952347,"realtimeFrequency":null,"epoch":1700704630,"lat":39.737583,"uv":null,"winddir":180,"humidity":45.0,"qcStatus":1,"imperial":{"temp":46.8,"heatIndex":46.8,"dewpt":26.6,"windChill":46.8,"windSpeed":0.0,"windGust":0.0,"pressure":30.03,"precipRate":0.00,"precipTotal":0.00,"elev":5358.0}}]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - ESI/1.0
      X-Region:
      - us-east-1
      X-Trace-Token:
      - 7f7bd138-8bfe-4c95-bbd1-388bfe9c95b9
      trace-name:
      - v2includerouter-include-get
    status:
      code: 200
      message: OK
version: 1
