interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations//XXXX/observations/latest
  response:
    body:
      string: "{\n    \"correlationId\": \"14cc7a6a\",\n    \"title\": \"Not Found\",\n
        \   \"type\": \"https://api.weather.gov/problems/NotFound\",\n    \"status\":
        404,\n    \"detail\": \"Not Found\",\n    \"instance\": \"https://api.weather.gov/requests/14cc7a6a\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 14cc7a6a
      X-Edge-Request-ID:
      - 2e1a8d5b
      X-Server-ID:
      - vm-lnx-nids-apiapp7.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations//XXXX/observations/latest
  response:
    body:
      string: "{\n    \"correlationId\": \"19869adb\",\n    \"title\": \"Not Found\",\n
        \   \"type\": \"https://api.weather.gov/problems/NotFound\",\n    \"status\":
        404,\n    \"detail\": \"Not Found\",\n    \"instance\": \"https://api.weather.gov/requests/19869adb\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 19869adb
      X-Edge-Request-ID:
      - '58106176'
      X-Server-ID:
      - vm-lnx-nids-apiapp2.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
